/* global */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #ffc40c;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #B43110;
    padding: 10px;
    font-weight: bold;
}

/* header */
#main-header {
    background-color: black;
    width: 100%;
    height: auto;
    border-bottom: 5px solid white;
}

nav>ul {
    list-style-type: none;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav>ul>li>a {
    display: block;
    color: #ffc40c;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

nav>ul>li>a:hover {
    background: #B43110;
    font-weight: bold;
}

/* main */
main {
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.heading {
    flex-basis: 100%;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    flex: 1;
}

.logo>img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.logo>p>a {
    text-decoration: none;
    color: white;
}

.logo>p>a:hover {
    color: #B43110;
    font-weight: bold;
}

.logo>ul {
    list-style-type: none;
    padding: 0 20px 0;
}

.logo>ul>li>a {
    color: white;
    text-decoration: none;
}

.logo>ul>li>a:hover {
    color: #B43110;
    font-weight: bold;
}

.cover-photo {
    flex: 3;
}

.cover-photo img {
    width: 80%;
    height: auto;
}

.main-section {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#more-info {
    text-align: justify;
    padding: 0 20px 50px 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
}

#more-info h3 {
    text-align: center;
}

.last-section {
    padding: 50px 0px;
}

.last-section h3 {
    padding-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.card img {
    width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* footer */
footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 5px solid #ffc40c;
    color: white;
    text-align: center;
}

footer a {
    color: #ffc40c;
}

footer a:hover {
    color: #B43110;
    font-weight: bold;
}

/* Media Querries */
/* medium screens */
@media (max-width:800px) {
    nav>ul {
        justify-content: space-around;
    }

    aside {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo>img {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

    .last-card {
        flex-basis: 100%;
    }
}

/* small screens */
@media (max-width: 425px) {
    #main-header {
        border-bottom: 1px solid white;
    }

    nav>ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav>ul>li>a {
        text-align: center;
        padding: 10px;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav>ul>li :first-of-type a {
        border-top: none;
    }

    nav>ul>li :last-of-type a {
        border-bottom: none;
    }

    nav>ul>li>a:hover {
        background: #B43110;
    }

    aside {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo>img {
        width: 100px;
        height: auto;
        border-radius: 50%;
    }

    #more-info {
        border-bottom: 1px solid white;
    }

    .projects {
        flex-direction: column;
    }

    footer {
        text-align: center;
        border-top: 1px solid #ffc40c;
    }
}