/* global */
* {
    margin: 0; 
    padding: 0; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: #ffc40c;
}

ul {
    margin: 0; 
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #B43110;
    padding: 10px;
    font-weight: bold;
}

/* header */
header {
    background-color: black;
    padding-top: 20px;
    width: 100%;
    height: auto;
    border-bottom: 5px solid white;
}

nav {
    width: 80%;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

nav>ul>li a {
    display: block;
    color: #ffc40c;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover {
    color: #B43110; 
    font-weight: bold;
}

/* main */
main {
    width: 80%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

aside {
    flex: 1;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

aside>img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

aside>p>a {
    text-decoration: none;
    color: white;
}

aside>p>a:hover {
    color: #B43110;
    font-weight: bold;
}

aside>ul {
    list-style-type: none;
    padding: 0 20px 0;
}

aside>ul>li>a {
    color: white;
    text-decoration: none;
}

aside>ul>li>a:hover {
    color: #B43110;
    font-weight: bold;
}

.main-section {
    flex: 4;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.main-section img {
    width: 80%;
    height: auto;
}

#more-info {
    text-align: justify;
    padding: 0 20px 50px 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 5px solid white;
}

#more-info h3 {
    text-align: center;
}

.last-section {
    padding: 50px 0px;
}

.last-section h3 {
    padding-bottom: 30px;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}

.card img {
    width: 100%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

/* footer */
footer {
    background-color: black;
    width: 100%;
    height: auto;
    padding: 20px;
    border-top: 5px solid white;
    color: white;
    text-align: center;
}

footer a {
    color: #ffc40c;
}

footer a:hover {
    color: #B43110;
    font-weight: bold;
}

