/*Creating responsive pages with flexbox*/

/* global */

/*global selector - applies to every single tag on the page*/
* {
    /*rules of the box model - element width stops at the border*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*possible clors
- red
- black
- shade of black #1b1b1b
- viking #54BBBB
- tiffany blue #0ABAB5
- gold #FFC62F
- coral red #ff4040
- darker shades of red #B43110 #cf4522
*/

body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Lato', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    /*The percentage is based on the width of the container. margin-right: auto; The auto keyword will give the right side a share of the remaining space. When combined with margin-left: auto , it will center the element, if a fixed width is defined.*/
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

button {
    background-color: #B43110;
    border: none;
    font-size: 10px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
}

button:hover {
    font-weight: bold;
}

p {
    font-size: 13px;
}

/* header */
#main-header {
    /*background-color: #1b1b1b;*/
    width: 100%;
    height: auto;
}

nav>ul {
    list-style-type: none;
    /*The CSS overflow property controls what happens to content that is too big to fit into an area.
    - overflow:hidden; prevents scrollbars from showing up, even when they're necessary.*/
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/*pseudo class for first child of nav list*/
.main-nav>ul>li:nth-child(1) {
    /*The flex-grow property specifies how much the item will grow relative to the rest of the flexible items inside the same container.
    flex-grow: 1; -- it will take up an equal amount of space as the other flex-items(the rest of the nav list elements), in this case 50% of the available space.
    */
    flex-grow: 1;
    color: #B43110;
}

nav>ul>li>a {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
}

nav>ul>li>a:hover {
    /*background: #FF4433;*/
    color: #B43110;
    font-weight: bold;
}

/* main */
main {
    width: 60%;
    height: auto;
    padding: 20px;
    margin: 20px auto;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.intro {
    flex: 1;
}

/*profile picture*/
.intro>img {
    width: 300px;
    height: auto;
}

.intro>p>a {
    color: white;
}

.intro>p>a:hover {
    color: #B43110;
    font-weight: bold;
}

.intro>ul {
    list-style-type: none;
    text-decoration: underline;
    padding: 0 20px 0;
}

.intro>ul>li>a {
    color: white;
    text-decoration: none;
}

.intro>ul>li>a:hover {
    color: #FF4433;
    font-weight: bold;
}

.welcome {
    flex: 3;
    padding: 50px;
    text-align: justify;
}

.welcome>h1 {
    font-size: 30px;
    color: #B43110;
}

.greeting {
    font-size: 16px;
    color: #FF4433;
    padding-bottom: 5px;
}

.description {
    font-size: 16px;
}

/*
use for the about me page
.main-section {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#more-info {
    text-align: justify;
    padding: 0 20px 50px 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#more-info h3 {
    text-align: center;
}
*/

/*skills*/
.skills-section,
.projects-section {
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 50px;
}

.skills,
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.card {
    flex: 30%;
    background: #1b1b1b;
    transition: 0.3s;
    padding: 10px 10px 20px;
}

.skills>.odd-man-out {
    background: #B43110;
}

.skills>.card>img {
    width: 20%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    line-height: 2.5;
}

.container>h4 {
    font-size: 18px;
    line-height: 1.3;
}

.container>p {
    line-height: 1.3;
    font-size: 13px;
}

.container>a {
    text-decoration: none;
    font-size: 15px;
    font-weight: normal;
    color: #FF4433;
}

.odd-man-out>.container>a {
    color: white;
}

/*projects*/
.align-flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.flex-left {
    flex: 50%;
    text-align: justify;
}

.flex-right {
    flex: 50%;
    text-align: right;
}

#align {
    justify-content: space-between;
}

.project-card {
    flex: 45%;
    background: #1b1b1b;
    padding: 10px 10px 20px;
}

.project-card>img {
    width: 100%;
    height: auto;
}

/* only use if images are links
transform property increases size of image on hover
.project-card>img:hover {
    transform: scale(1.1);
}*/

.projects-section>h3,
.projects-section>p {
    text-align: justify;
}

.projects-section>p {
    font-size: 13px;
    line-height: 1.3;
}

.projects-section>button {
    display: inline-block;
    text-align: right;
}

/*contact-section*/
.contact-section {
    background: #1b1b1b;
    padding: 50px;
    margin-bottom: 30px;
}

/*contact page*/
.contact-form {
    display: flex;
    max-width: auto;
}

.heading {
    flex-basis: 100%;
    text-align: center;
}

fieldset {
    display: inline-block;
    flex-grow: 1;
    max-width: fit-content;
    padding: 10px;
    border-color: #B43110;
    border-width: 3px;
    border-style: solid;
}

fieldset>legend {
    color: white;
}

p>label {
    display: block;
}


/*attribute selectors e.g. 
img[src="url of image"] {
    border: 1px solid grey;
}
*/

input[type="email"],
input[type="tel"],
textarea {
    border-radius: 7px;
}

input:valid {
    border-color: #1093B4;
}

input:invalid {
    border-color: #FF4433;
}

input:focus:invalid {
    border-color: #FFC62F;
}

/* footer */
footer {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    background: #1b1b1b repeat-x;
    height: auto;
    padding: 20px 0;
    color: white;
}

footer>a {
    /*color: #FF4433;*/
}

footer a:hover {
    font-weight: bold;
}

.footer-container {
    flex: 1;
}

.footer-container>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.footer-container>ul>li>a {
    text-decoration: none;
    color: white;
}

.footer-container>ul>li>a.linkedin {
    color: #0e76a8;
}

.footer-container>ul>li>a.twitter {
    color: #1DA1F2;
}

.footer-container>ul>li:hover {
    transform: scale(1.5);
}

.footer-left {
    color: #B43110;
}

.footer-center>p {
    padding-top: 5px;
}

.footer-center>p>a {
    color: #FF4433;
}

.footer-center>p>a:hover {
    font-weight: bold;
}

/* Media Querries */
/* medium screens */
@media (max-width:800px) {
    #main-header {
        background-color: #1b1b1b;
    }

    nav>ul {
        justify-content: space-around;
    }

    nav>ul>li:nth-child(1) {
        display: none;
    }

    #introduction {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .intro>img {
        width: 200px;
        height: auto;
        border-radius: 50%;
    }

    .welcome {
        text-align: center;
    }

    .skills,
    .projects {
        flex-direction: column;
    }

    .card {
        min-width: 100%;
    }

    .align-flex {
        text-align: center;
    }

    .flex-right,
    .flex-left {
        flex: 100%;
        text-align: center;
    }

    .project-card {
        min-width: 100%;
    }
}

/* small screens */
@media (max-width: 500px) {
    nav>ul {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav>ul>li>a {
        text-align: center;
        padding: 10px;
        /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    nav>ul>li :first-of-type a {
        border-top: none;
    }

    nav>ul>li :last-of-type a {
        border-bottom: none;
    }

    nav>ul>li>a:hover {
        background: #B43110;
    }

    #introduction {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .intro>img {
        width: 100px;
        height: auto;
        border-radius: 50%;
    }

    fieldset {
        border-style: none;
    }

    footer {
        text-align: center;
        flex-direction: column;
    }

    .footer-left {
        display: none;
    }
}